@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html{
    scroll-behavior: smooth !important;
}
.nav-link:hover {
    color: green !important;
    transition: color 0.5s;
}

* {
    font-family: "Funnel Sans", sans-serif;
}

.texto{
    font-size: 18px;
    margin-top: 20px !important;
}



